<!-- start custom head snippets -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<link rel="me" href="https://mastodon.online/@polgarp">


<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"/>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl | relative_url }}/assets/images/favicon/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="192x192" href="{{ site.baseurl | relative_url }}/assets/images/favicon/android-chrome-192x192.png">
<link rel="apple-touch-icon" sizes="512x512" href="{{ site.baseurl | relative_url }}/assets/images/favicon/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl | relative_url }}/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl | relative_url }}/assets/images/favicon/favicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl | relative_url }}/assets/images/favicon/site.webmanifest">

<!-- end custom head snippets -->
