{% if page.comments and site.comments.provider == "giscus" %}
<section class="comments">
  <h2 class="comments__label">Comments</h2>
  <script src="https://giscus.app/client.js"
    data-repo="{{ site.repository }}"
    data-repo-id="{{ site.comments.giscus.repo_id }}"
    data-category="{{ site.comments.giscus.category_name }}"
    data-category-id="{{ site.comments.giscus.category_id }}"
    data-mapping="{{ site.comments.giscus.discussion_term | default: 'pathname' }}"
    data-strict="0"
    data-reactions-enabled="{{ site.comments.giscus.reactions_enabled | default: 1 }}"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</section>
{% endif %}
