---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #FF0000 !default;

$serif: "IBM Plex Serif", Georgia, serif !default;
//$sans-serif: "IBM Plex Sans", Verdana, sans-serif !default;
$sans-serif:  "IBM Plex Mono", "Courier New", monospace !default;
$monospace: "IBM Plex Mono", "Courier New", monospace !default;

$sans-serif-narrow: $monospace !default;
$global-font-family: $monospace !default;
$header-font-family: $monospace !default;

/* Add spacing to the left of the main content */
.page {
    padding-left: 2em;
  }
  
  /* You might also need to adjust the content width to accommodate the new spacing */
  .page {
    width: calc(100% - $left-sidebar-width-wide - 2em); /* Increase spacing by 2em */
  }
$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
